*{
    padding:0;
    margin: 0;
}

body{
    background-image: url('../images/arcade2.jpg');
    background-repeat: no-repeat;  
}
canvas{
    background:#383b3b;
    display: block;
    margin: 0 auto;
    border: solid 1px #c6deff;

}
.wrapper{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

.controls{
   
}

@media only screen and (max-height:480px){
    .controls{
        display: none;
    }
}


